[paths]
work_dir = data/quotes/work_dir
template = %(work_dir)s/quotes.template
train = %(work_dir)s/quotes.train.conll
model = %(work_dir)s/quotes.model
# This file contains the raw text quotes.
txt = data/quotes.txt

[tags]
tags = SPKR, CTNT, CUE, O
default = O

[keys]
SPKR = s
CTNT = f
CUE = k
O = j

[display]
SPKR = underline
CTNT = blue
CUE = bold
O = none

[training]
retrain_every = 5
